:root 
{
    --bg-color: #121212;
    --error-color: #B00020;
    --primary-color: #A5D6A7;
    --secondary-color: #388E3C;
    --tertiary-color: #4CAF50;
}

body 
{
    background-color: var(--bg-color);
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

button 
{
    border-width: 0;
    cursor: pointer;
}

.overlay 
{
    margin: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    box-shadow: 0 0 5px 1px black;
    border-radius: 5px;
    max-width: 80%;
}

.overlay1 
{
    background-color: rgba(255, 255, 255, 0.05);
}

.overlay2 
{
    background-color: rgba(255, 255, 255, 0.07);
}

.overlay3 
{
    background-color: rgba(255, 255, 255, 0.08);
}

.overlay4 
{
    background-color: rgba(255, 255, 255, 0.09);
}

.overlay5 
{
    background-color: rgba(255, 255, 255, 0.11);
}

.done 
{
    background: none;
}

.done img
{
    height: 40px;
    border-radius: 100%;
    background-color: var(--tertiary-color);
}

header 
{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: var(--tertiary-color);
    padding: 8px;
}

.answerside 
{
    text-align: center;
    width: 30%;
}
.answer 
{
    display: flex;
    justify-content: space-between;
}
.answer button 
{
    background: none;
    color: white;
    transition: 200ms;
    border: 1px solid var(--tertiary-color);
    border-radius: 100%;
    font-weight: bold;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.answer button:hover 
{
    background-color: var(--tertiary-color);
}


@media only screen and (max-width: 900px) {
    .answer 
    {
        flex-direction: column;
    }
    .answerside 
    {
        width: 100%;
        text-align: center;
    }
}


